body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
}

.row {
    overflow: hidden;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
    display: flex;
    color: #ffffff;
    background: url(./stock/bg.gif) no-repeat;
    background-size: cover;
}

.row img {
    height: 350px;
    width: 350px;
    align-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10%;
    letter-spacing: 1px;
}

.content a {
    align-self: center;
    margin: 10%;
    padding: 5%;
    margin-bottom: 0%;
    font-size: xx-large;
}

@media(max-width:760px) {
    .row {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .row img {
        margin-top: 15%;
        height: 200px;
        width: 200px;
        align-self: center;
    }
}